@import "themes/base/base";
@import "themes/base/compat";
@import "themes/base/organigramma";
@import "themes/base/openpa";
@import "themes/base/owl.theme.default";

/* Start theme */
/*
 *	Only apply to body class="Pac"
 */
.pac {
    font-family: var(--Theme-font-family-sans);
}

/**
 * 	Brand color
 */
:root {
    --Color-primary: #0099d1;
    --Color-secondary: var(--Color-primary);
    --Prose-color-text-primary: #1c2024;
    --Prose-color-text-secondary: #5a6772;
    --Prose-color-text-highlighted: #b2ebed;
    --Prose-color-link: var(--Color-primary);
    --Prose-color-link-hover: var(--Color-primary);
    --Prose-color-link-visited: var(--Color-primary);
    --Color-focus: rgba(255,255,255, 0);
}

/**
 * 	Fonts
 */
:root {
    --Theme-font-family-sans: Titillium Web, HelveticaNeue-Light, Helvetica Neue Light, Helvetica Neue, Helvetica, Arial, Lucida Grande, sans-serif;
}

a{
    color: var(--Color-primary);
    text-decoration: none !important;
    cursor: pointer;
}

button, input[type=submit]{
    cursor: pointer;
}

a:focus {
    background: var(--Color-focus);
    outline: var(--Color-focus) solid 3px;
    color: var(--Color-primary);
}

#toolbar{
    @extend .u-hidden;
    @extend .u-md-block;
    @extend .u-lg-block;
}

.GridStriped .Grid:nth-child(2n) {
    @extend .u-background-grey-10;
}

.ContainerStriped .ItemStriped:nth-child(2n) {
    @extend .u-background-grey-10;
}

.Megamenu--styled .Megamenu-list > li > a[aria-expanded=false]::after {
    color: var(--Color-grey-80);
}

.Megamenu--styled .Megamenu-list > li > a[aria-expanded=true]::after {
    color: var(--Color-white);
}

.Megamenu-subnavGroup {
    max-width: 25%;
}


.Megamenu-subnavGroup  li a {
    @extend .u-padding-all-xxs;
}

.Megamenu-subnavGroup  li  a:hover,
.Megamenu-subnavGroup  li  a.current,
.Megamenu-subnavGroup  li  a.is-focus {
    background-color: var(--Color-focus);
    color: var(--Color-white);
}
