.owl-controls .owl-buttons div {
    padding: 1px 10px !important;
}
.owl-controls .owl-buttons .owl-next, .owl-controls .owl-buttons .owl-prev {
    margin: 0 0 0 3px;
    border-radius: none;
    background: #ccc;
    color: #fff;
}
.owl-controls .owl-buttons .owl-next:hover, .owl-controls .owl-buttons .owl-prev:hover {
    background: #999;
    color: #fff;
}

.carousel-top-control.title-placeholder {
    padding-top: 42px;
}
.carousel-top-control .owl-controls .owl-buttons {
    position: absolute;
    right: 0;
    top: -7rem;
}
.carousel-top-control .owl-controls .owl-buttons div.owl-prev,
.carousel-top-control .owl-controls .owl-buttons div.owl-next{
    padding: 3px !important;
    font-size: 35px;
    background: none;
    color: #333;
}

.carousel-top-control .caption {
    padding-right: 10px;
}

.carousel-caption {
    bottom: 0;
    left: 0;
    margin: 0;
    padding: 0 20px 30px;
    right: 0;
    text-align: left;
    width: 100%;
    position: absolute;
}
.carousel-caption h3 {
    background-color: rgba(0, 0, 0, 0.7);
    display: inline-block;
    padding: 12px;
    line-height: 1em;
    color: #fff;
    margin-bottom: 0;
    border-radius: none;
}
.carousel-caption h3 a {
    color: #fff;
    font-weight: bold;
    text-decoration: none;
}
.carousel-caption p {
    background: #999;
    color: #fff;
    display: inline-block;
    margin: 0;
    padding: 12px;
}

.carousel-both-control .carousel-caption {
    padding-bottom: 30px;
}
.carousel-both-control .owl-pagination {
    bottom: 0;
    /*position: absolute;*/
    width: 100%;
}
.carousel-both-control .owl-pagination .owl-page span {
    background: #ccc !important;
}
.carousel-both-control .owl-pagination .owl-page.active span {
    background: #999;
}

.widget_content.carousel-both-control {
    padding: 0 10px;
}

.owl-theme .owl-controls .owl-page span {
    opacity: 1;
}

.panels-container .owl-carousel .owl-item {
    padding: 5px;
}

.owl-item .item .carousel-image {
    min-height: 500px;
    background-repeat: no-repeat;
    background-size: cover;
}
.owl-item .item img.img-responsive {
    min-height: 350px;
}

.content-related .owl-item .item .carousel-image {
    background-position: center center;
    min-height: 300px;
}
