/*
 *	Only apply to body
 *		class="it-Pac"
 */
.Pac {
  font-family: var(--Pac-font-family-sans);
}

/**
 * 	Fonts
 */
:root {
  --Pac-font-family-sans: Titillium Web, HelveticaNeue-Light, Helvetica Neue Light, Helvetica Neue, Helvetica, Arial, Lucida Grande, sans-serif;
}


.img-responsive{
    display: block;
    height: auto;
    max-width: 100%;
}

#toolbar{
    @extend .u-hidden;
    @extend .u-md-block;
    @extend .u-lg-block;
}

.media,
.media-body {
    overflow: hidden;
}
.media-body {
    width: 10000px;
}
.media-left,
.media-image,
.media-body {
    display: table-cell;
    vertical-align: top;
}
.media-image, .media > .pull-left{
    @extend .u-padding-right-s;
}

.openpa-full .title h2{
    @extend .u-text-h2;
}

.openpa-full .content-container{
    @extend .Grid;
    @extend .Grid--withGutter;
}

.openpa-full .content{
    @extend .Grid--withGutter > .Grid-cell;
    @extend .Grid-cell;
    @extend .u-padding-bottom-xl;
    @extend .u-sizeFull;
}
.openpa-full .content.withExtra{
    @extend .u-md-size6of12;
    @extend .u-lg-size6of12;
}

.openpa-full .content-main-abstract,
.openpa-full .content-main-body {
    @extend .Prose;
    @extend .u-layout-prose;
}

.openpa-full .main_image {
    @extend .u-padding-bottom-l;
}

.openpa-full .content-detail-item{
    @extend .Grid;
    @extend .Grid--withGutter;
    @extend .u-margin-bottom-s;
    @extend .Prose;
    @extend .u-layout-prose;
}

.openpa-full .content-detail-item .label{
    @extend .Grid-cell;
    @extend .Grid--withGutter > .Grid-cell;
    @extend .u-sizeFull;
    @extend .u-md-size3of12;
    @extend .u-lg-size3of12;
}

.openpa-full .content-detail-item .value {
    @extend .Grid-cell;
    @extend .Grid--withGutter > .Grid-cell;
}

.openpa-full .content-detail-item.withLabel .value {
    @extend .Grid-cell;
    @extend .Grid--withGutter > .Grid-cell;
    @extend .u-md-size9of12;
    @extend .u-lg-size9of12;
}

.openpa-full .extra {
    @extend .Grid-cell;
    @extend .Grid--withGutter > .Grid-cell;
    @extend .u-sizeFull;
    @extend .u-md-size4of12;
    @extend .u-lg-size4of12;
    @extend .u-md-before1of12;
    @extend .u-lg-before1of12;
    @extend .u-padding-bottom-xl;
}
.openpa-full .extra .nav-section {
    @extend .u-sizeFull;
    @extend .u-md-size11of12;
    @extend .u-lg-size11of12;
    @extend .u-padding-bottom-xl;
}

.openpa-full .last-modified {
    display: block;
    text-align: right;
    @extend .u-padding-bottom-xl;
}

.openpa-full .state-navigation{
    @extend .u-padding-bottom-l;
}

.openpa-full .content-view-children .openpa-line:nth-child(2n) {
    @extend .u-background-grey-20;
}

.openpa-line {
    @extend .u-margin-bottom-m;
    @extend .u-padding-all-m;
}

.openpa-line .media-heading{
    @extend .u-padding-bottom-s;
    @extend .u-textClean;
    @extend .u-textWeight-700;
    @extend .u-text-r-xs;
    @extend .u-color-50;
}

.openpa-line .media-details{
    @extend .Prose;
}

.openpa-line .media-details > li{
    @extend .u-padding-bottom-xs;
}

.openpa-line .media-image{
    @extend .u-hidden;
    @extend .u-md-tableCell;
    @extend .u-lg-tableCell;
}

.openpa-widget-title{
    @extend .Leads-title;
}

.nav-section .openpa-widget-title{
    @extend .u-text-h3;
}
