
.openpa-full .title h2 {
    @extend .u-text-h2;
}

.openpa-full .content-container {
    @extend .Grid;
    @extend .Grid--withGutter;
}

.openpa-full .content {
    @extend .Grid--withGutter > .Grid-cell;
    @extend .Grid-cell;
    @extend .u-padding-bottom-xl;
    @extend .u-sizeFull;
}

.openpa-full .content.withExtra {
    @extend .Grid--withGutter > .Grid-cell;
    @extend .Grid-cell;
    @extend .u-padding-bottom-xl;
    @extend .u-md-size6of12;
    @extend .u-lg-size6of12;
}

.openpa-full .content-main-abstract,
.openpa-full .content-main-body {
    @extend .Prose;
    @extend .u-layout-prose;
}

.openpa-full .main_image {
    @extend .u-padding-bottom-l;
}

.openpa-full .content-detail {
    @extend .u-margin-top-m;
    @extend .u-margin-bottom-m;
}

.openpa-full .content-detail-item {
    @extend .Grid;
    @extend .Grid--withGutter;
    @extend .u-margin-bottom-s;
    @extend .Prose;
}

.openpa-full .content-detail-item .label {
    @extend .Grid-cell;
    @extend .Grid--withGutter > .Grid-cell;
    @extend .u-sizeFull;
    @extend .u-md-size3of12;
    @extend .u-lg-size3of12;
}

.openpa-full .content-detail-item .value {
    @extend .Grid-cell;
    @extend .Grid--withGutter > .Grid-cell;
}

.openpa-full .content-detail-item.withLabel .value {
    @extend .Grid-cell;
    @extend .Grid--withGutter > .Grid-cell;
    @extend .u-md-size9of12;
    @extend .u-lg-size9of12;
}

.openpa-full .extra {
    @extend .Grid-cell;
    @extend .Grid--withGutter > .Grid-cell;
    @extend .u-md-size4of12;
    @extend .u-lg-size4of12;
    @extend .u-md-before2of12;
    @extend .u-lg-before2of12;
    @extend .u-padding-bottom-xl;
}

.openpa-full .extra .nav-section {
    @extend .u-sizeFull;
    @extend .u-md-size11of12;
    @extend .u-lg-size11of12;
    @extend .u-padding-bottom-xl;
}

.openpa-full-last-modified {
    @extend .u-padding-bottom-xl;
}

.openpa-full .state-navigation {
    @extend .u-padding-bottom-l;
}

.openpa-full .content-view-children .openpa-line:nth-child(2n) {
    @extend .u-background-grey-10;
}

.openpa-full .content-view-children .openpa-line {
    @extend .u-padding-all-m;
}



.openpa-line {
    @extend .u-margin-bottom-m;
}

.openpa-line .media-details {
    @extend .Prose;
    margin: 0 !important;;
}

.openpa-line .media-details > li {
    @extend .u-padding-bottom-xs;
    list-style: none !important;
}

.openpa-line .media-image {
    @extend .u-hidden;
    @extend .u-md-tableCell;
    @extend .u-lg-tableCell;
}


.openpa-widget{
    @extend .u-margin-r-bottom;
    @extend .u-cf;
}

.openpa-widget-title {
    @extend .Leads-title;
}
.openpa-widget-title a{
    font-size: inherit;
    color: inherit;
    @extend .u-textClean;
}

.openpa-widget-layout .openpa-widget-title{
    @extend .u-border-top-l;
    @extend .u-padding-top-m;
    @extend .u-color-70;
}

.openpa-widget-layout .openpa-widget-title a{
    font-size: inherit;
    @extend .u-color-70;
}

.openpa-widget-title-lev2{
    @extend .u-text-h4;
    @extend .u-textClean;
    @extend .u-color-black;
    @extend .Prose;
    font-weight: normal !important;
}
.openpa-widget-title-lev2 a{
    @extend .u-text-h4;
    @extend .u-textClean;
    @extend .u-color-black;
    font-weight: normal !important;
}
.openpa-widget-content{
    @extend .u-cf;
}

.tab-pane > .openpa-accordion_content,
.Accordion-panel > .openpa-accordion_content{
    @extend .u-padding-top-s;
    @extend .u-padding-left-s;
    @extend .u-padding-right-s;
}

.openpa-accordion_content{
    @extend .Prose;
}

.openpa-carousel{
    position: relative;
}

.openpa-event-item{
    @extend .Grid;
    @extend .u-padding-all-s;
}

.openpa-event-item .calendar-date{
    @extend .Grid-cell;
    @extend .u-size4of12;
    @extend .u-md-size3of12;
    @extend .u-lg-size3of12;
}

.calendar-date .month,
.calendar-date .day{
    @extend .u-textCenter;
    display: block;
}

.calendar-date .month{
    @extend .u-padding-all-xxs;
    @extend .u-background-70;
    color: var(--Color-white);
    font-weight: bold;
}

.calendar-date .day{
    @extend .u-background-white;
    @extend .u-color-70;
    font-size: 2em;
    line-height: 65px;
    font-weight: bold;
    border: 1px solid var(--Color-primary);
}

.openpa-event-item .calendar-title{
    @extend .Grid-cell;
    @extend .u-size8of12;
    @extend .u-md-size9of12;
    @extend .u-lg-size9of12;
    @extend .u-padding-all-s;
}

.openpa-event-item .calendar-title a{
    @extend .u-alignMiddle;
    @extend .u-text-h4;
    @extend .u-textClean;
    @extend .u-color-black;
}

.openpa-panels-container{
    position: relative;
}

.openpa-panel-image{
    background-position: center center !important;
    background-repeat: no-repeat !important;
    background-size: cover !important;
}

.openpa-panel-image.bg-contain{
    background-size: contain !important;
}

.openpa-panel-label{
    @extend .u-background-70;
    @extend .u-color-white;
    @extend .u-text-h4;
    @extend .u-padding-all-s;
    margin: 0;
    position: absolute;
    width: 100%;
}

.openpa-panels-container .owl-carousel .owl-item .item {
    padding: 5px;
}

.withExtra .openpa-masonry [data-columns]::before {
    content: "1 .u-floatLeft.u-sizeFull";

    @media (--sm-viewport) {
        content: "1 .u-floatLeft.u-sizeFull";
    }

    @media (--md-viewport) {
        content: "2 .u-floatLeft.u-size1of2";
    }

    @media (--lg-viewport) {
        content: "2 .u-floatLeft.u-size1of2";
    }
}


/* bc */
.global-view-full{
    @extend .u-cf;
    @extends .u-padding-all-s;
}
