
.openpa-full .title h2 {
    @extend .u-text-h2;
}

.openpa-full .content-container {
    @extend .Grid;
    @extend .Grid--withGutter;
}

.openpa-full .content {
    @extend .Grid--withGutter > .Grid-cell;
    @extend .Grid-cell;
    @extend .u-padding-bottom-xl;
    @extend .u-sizeFull;
}

.openpa-full .content.withExtra {
    @extend .Grid--withGutter > .Grid-cell;
    @extend .Grid-cell;
    @extend .u-padding-bottom-xl;
    @extend .u-md-size6of12;
    @extend .u-lg-size6of12;
}

.openpa-full .content-main-abstract,
.openpa-full .content-main-body {
    @extend .Prose;
    @extend .u-layout-prose;
    @extend .u-cf;
}

.openpa-full .main_image {
    @extend .u-padding-bottom-l;
}

.openpa-full .content-detail {
    @extend .u-margin-top-m;
    @extend .u-margin-bottom-m;
}

.openpa-full .content-detail-item {
    @extend .Grid;
    @extend .Grid--withGutter;
    @extend .u-margin-bottom-s;
    @extend .Prose;
}

.openpa-full .content-detail-item .label {
    @extend .Grid-cell;
    @extend .Grid--withGutter > .Grid-cell;
    @extend .u-sizeFull;
    @extend .u-md-size3of12;
    @extend .u-lg-size3of12;
}

.openpa-full .content-detail-item .value {
    @extend .Grid-cell;
    @extend .Grid--withGutter > .Grid-cell;
}

.openpa-full .content-detail-item.withLabel .value {
    @extend .Grid-cell;
    @extend .Grid--withGutter > .Grid-cell;
    @extend .u-md-size9of12;
    @extend .u-lg-size9of12;
}

.openpa-full .extra {
    @extend .Grid-cell;
    @extend .Grid--withGutter > .Grid-cell;
    @extend .u-md-size4of12;
    @extend .u-lg-size4of12;
    @extend .u-md-before2of12;
    @extend .u-lg-before2of12;
    @extend .u-padding-bottom-xl;
}

.openpa-full .extra .nav-section {
    @extend .u-sizeFull;
    @extend .u-md-size11of12;
    @extend .u-lg-size11of12;
    @extend .u-padding-bottom-xl;
    @extend .u-layout-prose;
}

.openpa-full-last-modified {
    @extend .u-padding-bottom-xl;
}

.openpa-full .state-navigation {
    @extend .u-padding-bottom-l;
}

.openpa-full .content-view-children .openpa-line:nth-child(2n) {
    @extend .u-background-grey-10;
}

.openpa-full .content-view-children .openpa-line {
    @extend .u-padding-all-m;
}



.openpa-line {
    @extend .u-margin-bottom-m;
}

.openpa-line .media-details {
    @extend .Prose;
    margin: 0 !important;
}

.openpa-line .media-details > li {
    @extend .u-padding-bottom-xs;
    list-style: none !important;
}

.openpa-line .media-image {
    @extend .u-hidden;
    @extend .u-md-tableCell;
    @extend .u-lg-tableCell;
}

.openpa-search-result ul{
    margin: 0 !important;
}

.openpa-search-result li{
    @extend .u-padding-bottom-xs;
    list-style: none !important;
}

.openpa-widget{
    @extend .u-margin-r-bottom;
    @extend .u-cf;
}

.openpa-widget-title {
    @extend .Leads-title;
}
.openpa-widget-title a{
    font-size: inherit;
    color: inherit;
    @extend .u-textClean;
}

.openpa-widget-layout .openpa-widget-title{
    @extend .u-border-top-l;
    @extend .u-padding-top-m;
    @extend .u-color-70;
}

.openpa-widget-layout .openpa-widget-title a{
    font-size: inherit;
    @extend .u-color-70;
}

.openpa-widget-title-lev2{
    @extend .u-text-h4;
    @extend .u-textClean;
    @extend .u-color-black;
    @extend .Prose;
    font-weight: normal !important;
}
.openpa-widget-title-lev2 a{
    @extend .u-text-h4;
    @extend .u-textClean;
    @extend .u-color-black;
    font-weight: normal !important;
}
.openpa-widget-content{
    @extend .u-cf;
}

.tab-pane > .openpa-accordion_content,
.Accordion-panel > .openpa-accordion_content{
    @extend .u-padding-top-s;
    @extend .u-padding-left-s;
    @extend .u-padding-right-s;
}

.openpa-accordion_content{
    @extend .Prose;
}

.openpa-event-item{
    @extend .Grid;
    @extend .u-padding-all-s;
}

.openpa-event-item .calendar-date{
    @extend .Grid-cell;
    @extend .u-size4of12;
    @extend .u-md-size3of12;
    @extend .u-lg-size3of12;
}

.calendar-date .month,
.calendar-date .day{
    @extend .u-textCenter;
    display: block;
}

.calendar-date .month{
    @extend .u-padding-all-xxs;
    @extend .u-background-70;
    color: var(--Color-white);
    font-weight: bold;
}

.calendar-date .day{
    @extend .u-background-white;
    @extend .u-color-70;
    font-size: 2em;
    line-height: 65px;
    font-weight: bold;
    border: 1px solid var(--Color-primary);
}

.openpa-event-item .calendar-title{
    @extend .Grid-cell;
    @extend .u-size8of12;
    @extend .u-md-size9of12;
    @extend .u-lg-size9of12;
    @extend .u-padding-all-s;
}

.openpa-event-item .calendar-title a{
    @extend .u-alignMiddle;
    @extend .u-text-h4;
    @extend .u-textClean;
    @extend .u-color-black;
}

.openpa-panel-image{
    background-position: center center !important;
    background-repeat: no-repeat !important;
    background-size: cover !important;
}

.openpa-panel-image.bg-contain{
    background-size: contain !important;
}

.openpa-panel-label{
    @extend .u-background-70;
    @extend .u-color-white;
    @extend .u-text-h4;
    @extend .u-padding-all-s;
    margin: 0;
    position: absolute;
    width: 100%;
}

.openpa-table-calendar {
    @extend .Table;
    @extend .Table--withBorder;
    @extend .Table--compact;
    @extend .u-text-r-xxs;
}

.openpa-table-calendar tr td {
    vertical-align: top;
}

.openpa-table-calendar .Entrypoint-item {
    @extend .u-padding-all-xs;
    /*padding: 0 !important;*/
}

.openpa-table-calendar { width: 100%; border-collapse: collapse; border-spacing: 0; }

.openpa-table-calendar th { text-align: left; }
.openpa-table-calendar th span { display: none; }

.openpa-table-calendar tr { display: block; }
.openpa-table-calendar td,
.openpa-table-calendar th { display: none; }
.openpa-table-calendar .events { display: block; }
.openpa-table-calendar ul { display: block; list-style: none; margin: 0; padding: 0; }
.openpa-table-calendar li { display: block; position: relative; margin: 0; padding: 0; }
.openpa-table-calendar .not-in-current-month { display: none; }


@media (--md-viewport), (--lg-viewport) {

    .openpa-table-calendar { font-size: 0.875em; line-height: 1.25em}
    .openpa-table-calendar tr { display: table-row; }
    .openpa-table-calendar th, .openpa-table-calendar td { display: table-cell !important; margin: 0; width: 14.2857%; padding: 0.4166em; vertical-align: top; }
    .openpa-table-calendar td { height: 10em; }

    .openpa-table-calendar .not-in-current-month { background: #eee; }
    .openpa-table-calendar .not-in-current-month .day { color: #bbb; }

    .openpa-table-calendar td .day { display: block; float: left; margin: 0; font-weight: normal; }
    .openpa-table-calendar td .day-of-week { display: none; }
    .openpa-table-calendar td .suffix { display: none; }

    .openpa-table-calendar td {border-bottom: 1px solid #ccc; border-right: 1px solid #ddd }
    .openpa-table-calendar td.last_col {border-right:none}
    .openpa-table-calendar tr.last_row td {border-bottom:none}

    .openpa-table-calendar .day { margin: 1em 0 .5em 0; font-weight: bold; font-size: 1em; }
    .openpa-table-calendar ul { margin: 0 0 0 2em; }
    .openpa-table-calendar li {height: 1.8em;}
    .openpa-table-calendar li a { display: block; position: absolute; left: 0; right: 0; overflow: hidden; white-space: nowrap; text-overflow: ellipsis; font-size: .75em  }
}

.openpa-calendar-day-program {
    @extend .Grid;
}

.openpa-calendar-day-program .calendar-date{
    @extend .Grid-cell;
    @extend .u-sizeFull;
    @extend .u-md-size3of12;
    @extend .u-lg-size2of12;
}

.openpa-calendar-day-program .calendar-events {
    @extend .Grid-cell;
    @extend .u-sizeFull;
    @extend .u-md-size9of12;
    @extend .u-lg-size10of12;
}

@media (--md-viewport), (--lg-viewport) {
    .openpa-calendar-day-program .calendar-events .openpa-panels-container section {
        @extend .u-margin-left-xs;
        @extend .u-margin-bottom-xs;
    }
}

.withExtra .openpa-masonry [data-columns]::before {
    content: "1 .u-floatLeft.u-sizeFull";

    @media (--sm-viewport) {
        content: "1 .u-floatLeft.u-sizeFull";
    }

    @media (--md-viewport) {
        content: "2 .u-floatLeft.u-size1of2";
    }

    @media (--lg-viewport) {
        content: "2 .u-floatLeft.u-size1of2";
    }
}

.Header-socialIcons  .openpa-icon {
    font-size: 1.1em;
}

.Footer-socialIcons .openpa-icon {
    font-size: 1.6em;
}


.openpa-carousel .carousel-caption {
    bottom: 0;
    left: 0;
    margin: 0;
    padding: 0;
    right: 0;
    text-align: left;
    width: 100%;
    position: absolute;
}
.openpa-carousel .carousel-caption h3 {
    background-color: rgba(0, 0, 0, 0.7);
    display: inline-block;
    padding: 12px;
    line-height: 1em;
    color: #fff;
    margin-bottom: 0;
    border-radius: none;
}
.openpa-carousel .carousel-caption h3 a {
    color: #fff;
    font-weight: bold;
    text-decoration: none;
}
.openpa-carousel .carousel-caption p {
    @extend .Prose;
    @extend .u-padding-all-s;
    @extend .u-background-grey-40;
    color: #fff;
    display: block;
    margin: 0;
}

/* bc */
.global-view-full{
    @extend .u-cf;
    @extends .u-padding-all-s;
}
