@import "themes/base/base";
@import "themes/base/compat";
@import "themes/base/organigramma";
@import "themes/base/openpa";
@import "themes/base/owl.theme.default";


/* Start theme */
/*
 *	Only apply to body class="purple"
 */
.valledeltesino {
    font-family: var(--Theme-font-family-sans);
}

/**
 * 	Brand color
 */
:root {
    --Color-primary: #373737;
    --Color-secondary: #E5B200;
    --Prose-color-text-primary: #1c2024;
    --Prose-color-text-secondary: #5a6772;
    --Prose-color-text-highlighted: #b2ebed;
    --Prose-color-link: var(--Color-secondary);
    --Prose-color-link-hover: var(--Color-secondary);
    --Prose-color-link-visited: var(--Color-secondary);
    --Color-focus: rgba(255,255,255,0);
}

/**
 * 	Fonts
 */
:root {
    --Theme-font-family-sans: Titillium Web, HelveticaNeue-Light, Helvetica Neue Light, Helvetica Neue, Helvetica, Arial, Lucida Grande, sans-serif;
}

a {
  color: var(--Color-primary);
  text-decoration: none !important;
  cursor: pointer;
}

button, input[type=submit]{
    cursor: pointer;
}

a:focus {
  background: var(--Color-focus);
  outline: var(--Color-focus) solid 3px;
  color: var(--Color-primary);
}

#toolbar{
  @extend .u-hidden;
  @extend .u-md-block;
  @extend .u-lg-block;
}

.GridStriped .Grid:nth-child(2n) {
  @extend .u-background-grey-10;
}

.ContainerStriped .ItemStriped:nth-child(2n) {
  @extend .u-background-grey-10;
}

.Header-logo img {
    width: auto !important;
}

.Headroom--fixed.Headroom--not-top .Header-logo img,
.Headroom--pinned.Headroom--not-top .Header-logo img {
  max-height: 3em;
  max-width: none !important;
}

.owl-theme .owl-nav {
  top: -80px !important;
}

.frontpage .first .lista_carousel .owl-theme .control-buttons {
  display: none;
}

.frontpage .first .lista_carousel .owl-theme .owl-dots {
  position: absolute;
  bottom: 0;
  width: 100%;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.5) !important;
}

.lista_carousel .openpa-carousel .carousel-caption {
  margin-bottom: 41px;
}

.frontpage .first .owl-theme .control-buttons a {
  color: var(--Color-secondary) !important;
}

.frontpage .first .owl-theme .owl-dots .owl-dot span {
    width: 18px;
    height: 18px;
    margin: 10px 7px;
    background: var(--Color-secondary) !important;
    border: 1px solid var(--Color-white);
}

.frontpage .first .owl-theme .owl-dots .owl-dot:hover span,
.frontpage .first .owl-theme .owl-dots .owl-dot.active span{
    background: var(--Color-secondary);
    border: 1px solid var(--Color-white);
}

.openpa-widget-content .openpa-panel{
    border: none !important;
}

.openpa-widget-layout .openpa-widget-title,
.openpa-widget-title,
.openpa-panel-label {
    @extend .u-margin-bottom-xs;
    @extend .u-text-h4;
    padding-bottom: 0 !important;
    font-weight: 400 !important;
    line-height: 1.2;
    border-bottom:0.5rem solid var(--Color-secondary) !important;
    background-color: transparent !important;
}
.openpa-widget-title a,
.openpa-widget-title span,
.openpa-panel-label span {
    @extend .u-padding-left-xs;
    @extend .u-padding-right-xs;
    @extend .u-color-50;
    @extend .u-textClean;
    background-color: var(--Color-secondary);
    position: relative !important;
}

.openpa-widget-title a:after,
.openpa-widget-title span:after,
.openpa-panel-label span:after{
  content: " ";
  position: absolute;
  top: 0;
  left: 100%;
  width: 0;
  height: 0;
  border-bottom: 1em solid var(--Color-secondary);
  border-right: 1em solid transparent;
  border-bottom-width: 30px;
}

.openpa-panel-content .Card-title .Card-titleLink {
  font-weight: 700 !important;
}

@media (--md-viewport), (--lg-viewport) {
  .openpa-widget-title a:after,
  .openpa-widget-title span:after,
  .openpa-panel-label span:after {
    border-bottom-width: 32px;
  }
}

.Linklist a:hover,
.Linklist li.active a,
.Linklist li.current a,
.Linklist li.active a:hover,
.Linklist li.current a:hover {
  background-color: var(--Color-secondary) !important;
}

.readmore {
  @extend .u-hidden;
}

.singolo_gallery .owl-item h2 {
  @extend .u-hidden;
}

.nav-tab.ui-tabs-active{
  background-color: var(--Color-secondary) !important;
}
.nav-tabs {
  border-bottom:0.5rem solid var(--Color-secondary) !important;
}

button.Icon-search,
button.Icon-close {
  background-color: var(--Color-secondary) !important;
}

.lista_num .openpa-widget-title,
.lista_immagini .openpa-widget-title {
  @extend .u-textLeft;
}

/* End Theme */
